/**  {
    border: 1px solid red !important;
}*/
/*look at https://stackoverflow.com/questions/19430217/bootstrap-3-set-container-width-to-940px-maximum-for-desktops*/


/*Add Icon Fonts*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {   

    /*Added font for page*/
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;   
}

.center {
    margin: 0 auto;
    max-width: 1000px;
}

.bottomBorder {
    border-bottom: thick solid #7d97ad;
}


/*Text settings*/

.text-muted  {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.featuredWork {
    font-size: 175%;
}

.appifyText {
    font-size: 125%;
}

.paragraph {
    font-weight: bold;
}

.title{
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 200%;
}

.title-super {
    font-size: 60px
}

.logo-top {
    font-size: 250%;
}

/*Image Settings*/
.featured-work-image {
    max-width: 300px;
    max-height: 200px;
}
